version: 2.1

orbs:
  reporting: ministryofjustice/hmpps-reporting@dev:94bebecb9063e7e0916918605a3ebfcd9803723d

workflows:
  terraform-tag:
    jobs:
      - reporting/terraform_checks:
          filters:
            branches:
              only: /.*/
            tags:
              only: /^v.*/
