version: 2.1

orbs:
  reporting: ministryofjustice/hmpps-reporting@dev:d02f32d10adb774aecd7792eada5a45b432e94f0

workflows:
  terraform-tag:
    jobs:
      - reporting/terraform_checks:
          filters:
            branches:
              only: /.*/
            tags:
              only: /^v.*/
