version: 2.1

orbs:
  reporting: ministryofjustice/hmpps-reporting@dev:970b1098477733069fe5510ea588684e192010ee

workflows:
  terraform-tag:
    jobs:
      - reporting/terraform_checks:
          code_path: .
          filters:
            branches:
              only: /.*/
            tags:
              only: /^v.*/
