version: 2.1

orbs:
  reporting: ministryofjustice/hmpps-reporting@dev:9560bf68cd5dde78a58b29caeaa54e944946bb2e

workflows:
  terraform-tag:
    jobs:
      - reporting/terraform_checks:
          filters:
            branches:
              only: /.*/
            tags:
              only: /^v.*/
