version: 2.1

orbs:
  reporting: ministryofjustice/hmpps-reporting@dev:56b3c9e5dbfb3fa40d13136dcd9beeb249970f89

workflows:
  terraform-tag:
    jobs:
      - reporting/terraform_checks:
          filters:
            branches:
              only: /.*/
            tags:
              only: /^v.*/
