version: 2.1

orbs:
  reporting: ministryofjustice/hmpps-reporting@dev:6c37f742c5ab972b4edf029fb3d66d5c9784402e

workflows:
  terraform-tag:
    jobs:
      - reporting/terraform_checks:
          filters:
            branches:
              only: /.*/
            tags:
              only: /^v.*/
