version: 2.1

orbs:
  reporting: ministryofjustice/hmpps-reporting@dev:7603c5f808e87f148d41b37d987cef827c81aea2

workflows:
  terraform-tag:
    jobs:
      - reporting/terraform_checks:
          filters:
            branches:
              only: /.*/
            tags:
              only: /^v.*/
