version: 2.1

orbs:
  reporting: ministryofjustice/hmpps-reporting@dev:26319e06f42b39500e8fc08e8d6e13e4aa0f0549

workflows:
  terraform-tag:
    jobs:
      - reporting/terraform_checks:
          code_path: .
          filters:
            branches:
              only: /.*/
            tags:
              only: /^v.*/
